body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial;

}

.container {
    display: inline-block;
    width: 1000px;
    margin: 100px 0;
    margin-left: calc(50% - 500px);
    border: 1px solid red;
    background-color: aquamarine;
}
.col {
    float: left;
    width: 25%;
    margin: 20px 3% ;
    border: 5px solid black;
    padding: 10px;
}

@media (max-width: 1100px) {
    .container {
        width: 800px;
        margin: 100px calc(50% - 400px);
        border: 1px solid red;
        background-color: yellow;
    }
}

@media (max-width: 800px) {
    .container {
        width: 600px;
        margin: 100px calc(50% - 300px);
        border: 1px solid red;
        background-color: green;
    }
    .col {
        width: 44%;
    }
}
@media (max-width: 600px) {
    .container {
        width: 100%;
        margin: 100px 0;
        padding: 0 25px;
        border: 1px solid red;
        background-color: blue;
    }
    .col {
        width: 100%;
        margin: 20px 0;
    }
}